@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* 
  Tentative media query breakpoints-
  small: 40em or 50em | special case: 25em;
  medium: 64em;
  large: 87.5em;
*/

:root {
  /* Font */
  --ff: "Public Sans", sans-serif;
  --fw-regular: 300;
  --fw-medium: 400;
  --fw-bold: 700;
  --fs-sm: 0.875rem;
  --fs-md: 1.125rem;
  --fs-lg: 2.3125rem;
  --fs-xl: 3.25rem;

  /* Primary colors */
  --dark-blue: hsl(233, 26%, 24%);
  --limegreen: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* Neutral colors */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* A basic CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: var(--fw-regular);
  line-height: 1.15;
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

img,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

/* General styles */
body {
  color: var(--grayish-blue);
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  font-size: var(--fs-md);
  line-height: 1.3;

  overflow-x: hidden;
}

/* 
===================
  NAVBAR
===================
*/

/* Header */
.header__logo {
  width: 8.8125rem;
  height: 1.375rem;
}

/* 
===================
  MOBILE NAVBAR
===================
*/

/* Hamburger icon styles */
.header__hamburger-icon div {
  width: 1.625rem;
  height: 0.125rem;
  background-color: var(--dark-blue);

  transform-origin: 0.1875rem 0.0625rem;
  transition: all 300ms ease-in-out;
}

.header__hamburger-icon div:not(:last-child) {
  margin-bottom: 0.3125rem;
}

/* Mobile hamburger icon click effects */

/* The "open" class will be toggled by JS on user action */
.header.open .header__hamburger-icon div:first-child {
  transform: rotate(45deg);
}

.header.open .header__hamburger-icon div:nth-child(2) {
  opacity: 0;
}

.header.open .header__hamburger-icon div:last-child {
  transform: rotate(-45deg);
}

/* The overlay */
/* The "close class will also be toggled by JS on user action */
.header:is(.open, .close)::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    var(--dark-blue),
    var(--light-grayish-blue)
  );

  position: absolute;
  z-index: 1;
}

.header.open::after {
  animation: fadeIn 300ms ease-in-out forwards;
}

.header.close::after {
  animation: fadeOut 300ms ease-in-out forwards;
}

/* Mobile floating menu */
.header__floating-menu {
  width: calc(100% - 3rem);
  background-color: var(--white);
  border-radius: 0.3125rem;
  padding: 1.625rem;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5.125rem;
  opacity: 0;
  z-index: 3;
}

/* Important! */
@media (width >= 50em) {
  .header__floating-menu {
    pointer-events: none;
  }
}

.header__floating-menu li {
  text-align: center;
  padding: 0.625rem;
}

.header__floating-menu li a {
  color: var(--dark-blue);

  transition: font-weight 300ms ease-in-out;
}

.header__floating-menu li a:hover {
  font-weight: var(--fw-bold);
}

.header__floating-menu.open {
  animation: fadeIn 300ms ease-in-out forwards;
}

.header__floating-menu.close {
  animation: fadeOut 300ms ease-in-out forwards;
}

/* Prevent scrolling once the floating menu appears */
/* Again, the class "no-scroll" will be toggled using JS */
body.no-scroll {
  overflow: hidden;
}

/* 
===================
  DESKTOP NAVBAR
===================
*/

/* Header link styles */
.header__links {
  gap: 2rem;
}

.header__links a {
  color: var(--grayish-blue);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);

  position: relative;

  transition: color 300ms ease-in-out;
}

/* Desktop nav link hover effects */
/* The bottom border on hover */
.header__links a:after {
  content: "";
  width: 0;
  height: 0.3125rem;
  background-image: linear-gradient(
    237deg,
    var(--bright-cyan) 30.09%,
    var(--limegreen) 98.02%
  );

  position: absolute;
  top: calc(3rem - 0.3125rem);
  left: 0;

  transition: width 300ms ease-in-out;
}

.header__links a:hover {
  color: var(--dark-blue);
}

.header__links a:hover:after {
  width: 100%;
}

/* 
==================
  HERO SECTION
==================
*/

.hero {
  background-color: var(--very-light-gray);
}

/* Hero image mobile layout */
.hero__image {
  min-height: 17.625rem;
  background-image: url("../../images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
}

@media (width >= 25em) {
  .hero__image {
    min-height: 25rem;
  }
}

.hero__image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../../images/image-mockups.png");
  background-size: 88%;
  background-repeat: no-repeat;
  background-position: center bottom;

  position: absolute;
}

@media (width >= 25em) {
  .hero__image::before {
    background-size: 52%;
    background-position: center 60%;
  }
}

/* Hero image desktop layout */
@media (width >= 64em) {
  .hero__flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero__image {
    flex: 3;

    min-height: 40.9375rem;
    background-image: none;
  }

  .hero__image::before {
    content: "";
    width: 150%;
    height: 100%;
    background-image: url("../../images/bg-intro-desktop.svg");
    background-size: 122%;
    background-repeat: no-repeat;
    background-position: 0% 83%;

    position: absolute;
  }

  .hero__image::after {
    content: "";
    width: 120%;
    height: 122%;
    background-image: url("../../images/image-mockups.png");
    background-size: 94%;
    background-repeat: no-repeat;
    background-position: center 150%;

    position: absolute;
    left: 22%;
  }
}

/* Hero text layout */
.hero__text {
  text-align: center;
}

@media (width >= 64em) {
  .hero__text {
    flex: 2;

    text-align: left;
  }
}

.hero__text h1 {
  font-size: var(--fs-lg);
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

@media (width >= 64em) {
  .hero__text h1 {
    font-size: var(--fs-xl);
  }
}

/* The following is necessary for the hamburger menu overlay on mobiles */
@media (width < 50em) {
  .hero__image.open {
    z-index: 2;
    opacity: 0.7;
  }

  .hero__text {
    position: relative;
    z-index: 2;
  }
}

/* 
=======================
  FEATURES ARTICLE
=======================
*/

.features {
  background-color: var(--light-grayish-blue);
}

.features__intro {
  margin-bottom: 3.75rem;
}

/* Desktop layout */
@media (width >= 64em) {
  .features__intro {
    max-width: 60%;
  }
}

.features h2 {
  font-size: 2.25rem;
  margin-bottom: 2.25rem;
}

.features__flex {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  flex: 1;

  padding: 0.9375rem;
}

.feature__icon {
  margin-bottom: 2.75rem;
}

.feature__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.feature__description {
  font-size: 1rem;
}

/* Tablet layout */
@media (width < 64em) {
  .feature__item {
    flex: 1 0 50%;
  }
}

/* Mobile layout */
@media (width < 40em) {
  .features {
    text-align: center;
  }

  .features__flex {
    flex-direction: column;
  }

  .features h2 {
    font-size: 1.875rem;
    margin-bottom: 1.5625rem;
  }

  .feature__icon {
    margin-inline: auto;
    margin-bottom: 1.875rem;
  }

  .feature__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

/* 
============================
  Latest articles styles
============================
*/

.articles {
  background-color: var(--very-light-gray);
}

/* Desktop layout */
.articles h2 {
  margin-bottom: 2.25rem;
}

.articles__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}

.article__item {
  background-color: var(--white);
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 0.1875rem 0.75rem 0 rgba(0, 0, 0, 0.15);

  transition: transform 300ms ease-in-out;
}

.article__item:hover {
  transform: scale(1.05);
}

.article__image {
  height: 12.5rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__text {
  color: var(--grayish-blue);
  padding-inline: 1.5625rem;
  padding-block: 1.875rem;
}

.article__author {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.article__description {
  font-size: 0.875rem;
}

/* Tablet layout */
@media (width < 64em) {
  .articles__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile layout */
@media (width < 40em) {
  .articles__grid {
    grid-template-columns: 1fr;
  }

  .articles h2 {
    text-align: center;
    margin-bottom: 1.75rem;
  }

  .article__text {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  }
}

/* 
==================
  Footer styles
==================
*/

.footer {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 2.5rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a svg path {
  transition: fill 300ms ease-in-out;
}

.footer__socials a:hover svg path {
  fill: var(--limegreen);
}

.footer__links {
  display: flex;
  flex-direction: column;

  font-size: 0.9375rem;
  line-height: 2.25;
}

.footer__links a {
  color: var(--white);
}

.footer__links a {
  transition: color 300ms ease-in-out;
}

.footer__links a:hover {
  color: var(--limegreen);
}

.footer__copyright {
  color: var(--grayish-blue);
  font-size: 0.9375rem;
}

/* Mobile & tablet layout */
@media (width < 64em) {
  .footer {
    text-align: center;
  }

  .footer__logo img {
    margin-inline: auto;
    margin-bottom: 1.875rem;
  }

  .footer__socials {
    margin-bottom: 1.875rem;
  }

  .footer__socials img {
    margin-inline: auto;
  }

  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }

  .footer__cta {
    margin-bottom: 1.875rem;
  }
}

/* Desktop layout */
@media (width >= 64em) {
  .footer__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    grid-template-areas:
      "logo links1 links2 cta"
      "socials links1 links2 copyright";
    justify-items: start;
  }

  .footer__logo {
    grid-area: logo;
  }

  .footer__socials {
    grid-area: socials;
    align-self: end;
  }

  .footer__links {
    justify-content: space-between;
  }

  .footer__links.col1 {
    grid-area: links1;
  }

  .footer__links.col2 {
    grid-area: links2;
  }

  .footer__cta {
    grid-area: cta;
    justify-self: end;
  }

  .footer__copyright {
    grid-area: copyright;
    justify-self: end;
    align-self: end;

    margin-bottom: 0;
  }
}
